
/** background color**/
.kala-baki{background:rgba(0, 0, 0, 0.2);}
.kala-fari{background:white;}
.kala-toka{background:grey;}
.kala-ja{background:red;}
.kala-shunayya{background:purple;}
.kala-rawaya{background:yellow;}
.kala-shudi{background-color: #2979ff;}
.kala-kore{background:green;}

/**Customizing each background color**/
.fari-mai-haske{background-color: #ffffff;}
.fari-mai-duhu{background-color: #fff;}
.fari-mai-laushi{background-color: #fff;}
.toka-mai-haske{background-color: #9e9e9e;}
.toka-mai-duhu{background-color: #212121;}
.toka-mai-laushi{background-color: #616161;}
.ja-mai-haske{background-color: #ef9a9a;}
.ja-mai-duhu{background-color: #b71c1c;}
.ja-mai-laushi{background-color: #e63935;}
.shunayya-mai-haske{background-color: #ce93d8;}
.shunayya-mai-duhu{background-color: #6a189a;}
.shunayya-mai-laushi{background-color: #8e24aa;}
.rayawa-mai-haske{background-color: #fff176;}
.rayawa-mai-duhu{background-color: #f57f17;}
.rayawa-mai-laushi{background-color: #fdd835;}
.shudi-mai-haske{background-color: #90caf9;}
.shudi-mai-duhu{background-color: #0d47a1;}
.shudi-mai-laushi{background-color: #2196f3;}
.kore-mai-haske{background-color: hsl(120, 100%, 50%);}
.kore-mai-duhu{background-color: hsl(120, 100%, 15%);}
.kore-mai-laushi{background-color: hsl(120, 60%, 70%);}
/** //Customizing each background color**/

/** Creating a button**/
.madanni{background-color: #435058; color: white; text-shadow: 0px 1px 1px #435058;-webkit-box-shadow:#c89619 0px -15px 30px 5px inset;box-shadow: grey 0px 0px 0px 0px inset;border-color: #c77274;border-bottom: 3px solid #72633f; text-transform: capitalize;cursor: pointer;font-family: tahoma, Geneva, sans-serif;font-size: 18px;font-weight: bold;padding-top: 10px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px;border-radius: 5px;border-width: 0px;border-style: solid;-webkit-transition-property:background;-webkit-transition-duration:300ms;transition-timing-function: ease;outline: none;position: relative }
.madanni:active{top: 1px;}.madanni-matsakaici{text-transform: capitalize;cursor: pointer;font-family: tahoma, Geneva, sans-serif;font-size: 16px;font-weight: bold;padding-top: 10px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px;border-radius: 5px;border-width: 0px;border-style: solid;-webkit-transition-property:background;-webkit-transition-duration:300ms;transition-timing-function: ease;outline: none;position: relative;}
.madanni-babba{text-transform: capitalize;cursor: pointer;font-family: tahoma, Geneva, sans-serif;font-size: 18px;font-weight: bold;padding-top: 12px;padding-right: 30px;padding-bottom: 12px;padding-left: 30px;border-radius: 5px;border-width: 0px;border-style: solid;-webkit-transition-property:background;-webkit-transition-duration:300ms;transition-timing-function: ease;outline: none;position: relative}
.madanni-karami{text-transform: capitalize;cursor: pointer;font-family: tahoma, Geneva, sans-serif;font-size: 14px;font-weight: bold;padding-top: 8px;padding-right: 15px;padding-bottom: 8px;padding-left: 15px;border-radius: 5px;border-width: 0px;border-style: solid;-webkit-transition-property:background;-webkit-transition-duration:300ms;transition-timing-function: ease;outline: none;position: relative}
/** Customizing button/ Madanni**/
.madanni:hover{background-color: #bdbdbd;}

/** Customizing button nasara**/
.madanni-nasara{background-color: #aeea00; color: white;}.madanni-nasara:hover{background-color: #76ff03;color: white;}

.madanni-bayani{background-color: #ff8f00;outline-color: #ffc107;}.madanni-bayani:hover{background-color: #ffab40;color: solid black;}

.madanni-hankali{background-color: #5d4037;outline-color: #3e2723;color: #cfd8dc;}.madanni-hankali:hover{background-color: #3e2723;color: white;}

.madanni-tinani{background-color: #0277bd;outline-color: #01579b;color: white;}.madanni-tinani:hover{background-color: #00b0ff;color: white;}

.madanni-tsanani{background-color: #d50000;outline-color: #b71c1c;color: white;}.madanni-tsanani:hover{background-color: #e57373;color: white;}

/** customizing text/ Rubutu**/
.rubutu{padding: 5px;margin: 3px;font-size: 25px;font-style: normal;font-family: "Times New Roman", Times, serif;}

.rubutu-dama{text-align: right;}.rubutu-tsakiya{text-align: center;}.rubutu-hagu{text-align: left;}

.rubutu-babba{font-size:35px;}.rubutu-madaidaici{font-size: 25px;}.rubutu-karami{font-size: 20px;}

/** Customizing the text/ gyaran rubutu**/.rubutu-fari{color: white;}.rubutu-nasara{color: #aeea00;}

.rubutu-bayani{color: #ff8f00;}.rubutu-hankali{color: #5d4037;}.rubutu-tinani{color: #0277bd;}
.rubutu-tsanani{color: #d50000;}

/** Creating a margin/ daidaita sashi**/
.sashin-hagu-maiyawa{padding-left: 50px; }
.sashin-hagu-madaidaici{padding-left: 20px; }
.sashin-hagu-kadan{padding-left: 10px; }
.sashin-dama-maiyawa{padding-right: 50px; }
.sashin-dama-madaidaici{padding-right: 20px; }
.sashin-dama-kadan{padding-right: 10px; }
.sashinwaje-maiyawa{margin: 60px;}
.sashinwaje-madaidaici{margin: 30px;}
.sashinwaje-kadan{margin: 10px}
.sashinciki-maiyawa{padding:20px 5px 10px 5px;}
.sashinciki-daidai{padding:10px 5px 5px 5px;}
.sashinciki-kadan{padding:5px 5px 3px 5px;}

/** Customizing an image/gyaran hoto**/

img {width: auto\9;height: auto;max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic; }

.hoto-babba{width:400px; height: 400px;}
.hoto-madaidaici{width:300px; height: 300px;}
.hoto-karami{width:200px; height: 200px;}
.hoto-mai-kollo{width:200px; height: 200px; border-radius: 100px;}
.hoto-mai-kwana{ -webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius: 6px;}

.hoto-dama{float:right;}
.hoto-tsakiya{float: middle;clear: both;}
.hoto-hagu{float: left;}

.ankararwa-tsanani{padding:5px;background-color:#ff8a80;color: white;margin: 0px auto 10px; border:1px solid #d32f2f;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size: 15px;}
.ankararwa-bayani{padding:5px;background-color:#ffe082;color: white;margin: 0px auto 10px; border:1px solid #ffc400;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size: 15px;}
.ankararwa-hankali{padding:5px;background-color:#a1887f;color: white;margin: 0px auto 10px; border:1px solid #3e2723;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size: 15px;}
.ankararwa-tinani{padding:5px;background-color:#4fc3f7;color: white;margin: 0px auto 10px; border:1px solid #015798;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size: 15px;}
.ankararwa-nasara{padding:5px;background-color:#9ccc65;color: white;margin: 0px auto 10px; border:1px solid #33691e;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size: 15px;}

.marufa{margin-left: 15px;color:white;font-weight: bold;clear: right;float: right;font-size: 22px;text-align: right;line-height: 40px;cursor: pointer;transform: 3.3s;}
.marufi:hover{color: black;}/** well / kebattacciyar bayani**/.kebattacciyar-bayani{margin: 0px 15px 0px;min-height: 20px;padding: 15px;margin-bottom: 20px;background-color: #f5f5f5;border:1px solid #e3e3e3;border-radius: 4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.5);box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);}

.kebattacciyar-bayani-dama{float: right;margin: 15px;min-height: 20px;padding: 15px;margin-bottom: 20px;background-color: #f5f5f5;border:1px solid #e3e3e3;border-radius: 4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.5);box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);}
.kebattacciyar-bayani-hagu{float: left;margin: 15px;min-height: 20px;padding: 15px;margin-bottom: 20px;background-color: #f5f5f5;border:1px solid #e3e3e3;border-radius: 4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.5);box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);}
.kebattacciyar-bayani-tsakiya{margin: 0px auto 0px;min-height: 20px;padding: 15px;margin-bottom: 20px;background-color: #f5f5f5;border:1px solid #e3e3e3;border-radius: 4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.5);box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);}

/** Customizing an anchored link**/
a{text-decoration: none; text-transform: none; font-style: none; }
/**  // Customizing an anchored link**/

/** positioning  **/

.wuri-layi-daya li,.wuri-layi-daya ,.wuri-layi-daya a{
	display: inline-block;
	text-decoration: none;
	list-style: none;}

.gajere{width: 40%;} 
.madaidaici{width: 60%;}
.tsakiya{
	margin: 0px auto 0px;
}
/** // positioning **/

/** testing alert design**/
.rukuni{
	margin-bottom: 20px;
	background-color: #fff;
	border:1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0, .05);
	box-shadow:0 1px 1px rgba(0,0,0, .05);

}
.kan-bayanin-rukuni{
	padding: 15px 15px;
	border-bottom: 1px solid grey;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.bayanin-cikin-rukuni{
	padding: 15px;
}
/** // testing**/
